.compy {
  width: 40%;
  max-width: 150px;
  margin: 2em;
}

.changeComp {
  animation: colorChange 10s ease-in infinite;
}

.introText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: rgb(3, 251, 255) solid 5px;
  background: rgb(1, 116, 145);
  box-shadow: rgb(0, 98, 159) 0px 0px 10px 1px;
  color: whitesmoke;
  max-width: 800px;
}

.gif {
  border: solid rgb(21, 114, 105) 3px;
  border-radius: 3px;
  margin: 1em;
  width: 95%;
  height: 22em;
  max-width: 20em;
}

.link, .link2 {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.link {
  color: rgb(0, 26, 255);
}

.link2 {
  padding-left: 5px;
  color: rgb(217, 255, 0);
}

.link:hover, .link2:hover {
  color: magenta;
}

.projectContainer {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.projectInfo {
  max-width: 30em;
  padding: 5%;
  background-color: rgba(198, 206, 201, 0.133);
  margin: 1em;
  border: solid green 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 2px 1px green;
}

.projectStack {
  background-color: rgb(191, 255, 0);
  font-weight: 600;
  margin: 0;
  padding: 3px;
}

@keyframes colorChange {
  0% {
    fill: #7999B3;
  }
  
  20%{
    fill:rgb(136, 216, 176);
  }

  40% {
    fill: rgb(75, 105, 247);
  }
  
  60% {
    fill: rgb(255, 183, 0);
  }

  80% {
    fill: rgb(149, 255, 0);
  }

  95% {
    fill: #7999B3;
  }
}

@media (max-width: 1400px) {

  .projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5em;
  }

}

@media (max-width: 1000px) {

  .introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectContainer {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .projectInfo {
    width: 90%;
    border: none;
  }

}

@media (max-width: 600px) {
  .projectContainer {
    width: 120%;
  }
}
