.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  border-radius: 3px;
  max-width: 1350px;
}

.hello {
  display: flex;
  padding: 4em;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

.helloText {
  font-size: 1.5em;
  letter-spacing: 3px;
  animation: startItUp ease-in-out 10s;
  margin-bottom: 2em;
}

.path{
  stroke: #413b3c;
  fill: #413b3c;
  stroke-dasharray: 800;
  opacity: 10;
  animation: startItUp 4s ease-in-out; 
}

.path1 {
  stroke: #7999b3;
  fill: #7999b3;
}

.path2{
  stroke: #FF9D02;
  fill: #FF9D02;
}

.path3 {
  stroke: #e25d3a;
  fill: #e25d3a;
}

.textAnimation {
  width: 100%;
}

.rainbo {
  padding: 0;
  width: 90%;
  max-width: 1080px;
  box-sizing: border-box;
  animation: startItUp ease-in-out 6s;
}

@keyframes startItUp {
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 800;
  }

  90% {
    fill: white;
  }
  
  100% {
    opacity: 10;
    fill: #413b3c;
    stroke-dashoffset: 0;
  }
}
 
@-webkit-keyframes fadeOut {
 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 750px) {
  .helloText {
    font-size: 2em; 
  }

  .rainbo {
    width: 130%;
  }
  
  .hello {
    width: 140%;
  }
}
